// MWCoop.exe : icone, manifeste (styles Windows, PPP), fonds de la fenetre (make-art.ps1), informations de version
// (MWV_NUM / MWV_STR : build\mwversion.h, ecrit par build.cmd depuis src\MWCoop\Version.cs)
#include "mwversion.h"
1 ICON "mwcoop.ico"
1 24 "launcher.manifest"
4 RCDATA "logo-titre.png"
// 5 : le chargeur (build\version.dll) de la meme compilation -- reference pour verifier celui du jeu (LoaderEnsure)
5 RCDATA "build\\version.dll"

1 VERSIONINFO
FILEVERSION MWV_NUM
PRODUCTVERSION MWV_NUM
FILEFLAGSMASK 0x3F
FILEFLAGS 0x0
FILEOS 0x40004
FILETYPE 0x1
FILESUBTYPE 0x0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Parricidium (MWCoop, open source)"
      VALUE "FileDescription", "MWCoop launcher: installs, updates and starts the MWCoop co-op mod"
      VALUE "FileVersion", MWV_STR
      VALUE "InternalName", "MWCoopLauncher"
      VALUE "LegalCopyright", "Open source: https://github.com/Parricidium/MWCoop"
      VALUE "OriginalFilename", "MWCoop.exe"
      VALUE "ProductName", "MWCoop - co-op mod for My Winter Car"
      VALUE "ProductVersion", MWV_STR
      VALUE "Comments", "Fan-made co-op mod for My Winter Car (Amistech Games), not affiliated. Source code and releases: https://github.com/Parricidium/MWCoop"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
